.App {
  text-align: center;
  font-family: CoreSans, Arial, sans-serif;
  font-size: 18px;  
  background-color: #34495e;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(224, 218, 218);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnPrev{
  margin-right: 10px;
}

.container, .App{
  margin-bottom:50px;
}